footer {
    height: 3vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9vw;
    font-family: 'Roboto', medium;
    background: #222;
    color: #fff;
}

footer a {
    color: turquoise;
}