header {
    font-family: 'Roboto', cursive;
    font-size: 2vw;
    background: #222;
    color: #fff;
}

img {
    height: 5vw;
    width: 5vw;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    padding: 0 1vw;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 2vw;
}