header {
    font-family: 'Permanent Marker', cursive;
    font-size: 0.8vw;
    background: #222;
    color: #fff;
}

header img {
    width: 2.3vw;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    padding: 0 1vw;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 2vw;

}

.clickMe {
    cursor: pointer;
    user-select: none; 
}