body {
  background-color: #3f51b5;
  font-family: 'Roboto', medium;
  font-size: 0.8vw;
}

.interactions {
  margin: 1vw;
  text-align: center;
}

.table {
  margin: 20px 0;
}

.table-header {
  display: flex;
  line-height: 10px;
  font-size: 5vw;
  padding: 0 10px;
  justify-content: space-between
}

.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 5vw;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1vw;
  white-space: nowrap;
  margin: 1vw 15vw;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

.table-header > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.button-inline {
  border-width: 0;
  background: white;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}

.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38bb6c;
}

.largecolumn {
  display: flex;
  flex-flow: column wrap;
  justify-items: space-around;
  width: 15%;
}

.midcolumn {
  display: flex;
  width: 40%;
}

.smallcolumn {
  width: 10%;
}

.authors {
  padding-top: 100vw;
}

.author {
  padding: 0 0.2vw;
}

.cover {
  width: 10vw;
  height: 50%;
}

.bookTitle {
  font-weight: bold;
  cursor: pointer;
}

.description {
  white-space: normal;
  margin: 0 20%;
  text-overflow: ellipsis;
}